          <div class="span10 offset1">
                <p></p>
                <p>Please excuse our mess.  We're still currently working on this section.</p>
                <p>Below you will find a list of all current seismic events we have records for (also available as <a href="<%= url('/events.json') %>">JSON</a>).</p>
                <% if @events %>
                    <% @events.each do |event| %>
                              <%= erb :'partials/single_event', :locals => { :event => event } %>
                    <% end %>
                <% end %>
          </div>