          <div class="span10 offset1">
            <p>Below is the information we have on event <%= @event.id.to_s %> (<%= link(url('/event/' + @event.id.to_s + '.json'), 'JSON') %>):</p>
            <dl class="dl-horizontal text-overflow">
                <% @event.attributes.each do |attribute| %>
                    <div class="row">
                        <dt><%= attribute[0] %></dt>
                        <dd><%= attribute[1] %></dd>
                    </div>
                <% end %>
            </dl>
          </div>
            