<%= erb :'partials/map_interface' %>

<header class="shadow">
        <h1><%= link(url('/'), 'Sleuthing from the Internet') %></h1>
        <p>aggregating seismic data so you don't have to</p>
        <a id="showAbout" href="#">&nbsp;<i class="icon-info-sign icon-white"></i> About <i id="aboutCaret" class="icon-caret-up icon-white"></i></a>
        <div id="release" class="shadow">BETA</div>
</header>

<div id="about" class="shadow panel">
        <p>
                Sleuthing from the Internet monitors the seismic data generated
                by regional networks around the world,<br />
                allowing you to specify criteria of interest and be notified of
                matching events immediately.  Please feel<br />
                free to click the icons below to change the
                settings, and click subscribe to sign up or modify your<br />
                notifications.
        </p>
        <p>
                inspired by: The Arms Control Wonk <a href="https://twitter.com/ArmsControlWonk"><i class="icon-twitter"></i></a>, Jeffrey Lewis's post, <b><a href="http://lewis.armscontrolwonk.com/archive/5534/my-own-sleuthing-from-home">My Own Sleuthing From Home</a></b><br />
                writen by: Alex Wellerstein <a href="http://twitter.com/wellerstein"><i class="icon-twitter"></i></a> and Jim Kelly <a href="http://twitter.com/pthread"><i class="icon-twitter"></i></a><br />
                source: GitHub <a href="https://github.com/jimjkelly/SleuthingFromTheInternet"><i class="icon-github"></i></a><br />
                powered by: Heroku <a href="http://www.heroku.com"><i class="icon-cloud"></i></a>
        </p>
</div>

<div id="summary" class="shadow panel">
        <p><span id="eventsNum"></span> <a href="#" rel="tooltip" id="showEvents" title="Show list of currently selected events"><i class="icon-list-ul"></i></a> - <span id="maxDepthLabel"></span> km <a href="#" rel="tooltip" id="showDepthControl" class="controlswitch" title="Modify depth threshold"><i class="icon-circle-arrow-down"></i></a> <span id="maxMagLabel"></span> Mag. <a href="#" rel="tooltip" id="showMagControl" class="controlswitch" title="Modify magnitude threshold"><i class="icon-bolt"></i></a> <span id="maxDevLabel"></span> Min. <a href="#" rel="tooltip" id="showDevControl" class="controlswitch" title="Modify minimum deviation from hour threshold"><i class="icon-time"></i></a> -&nbsp;<span id="permalink"></span></p>
</div>

<div id="events" class="panel">
        <span id="events-arrow-left" class="events-arrow"><i class="icon-chevron-left icon-large"></i></span>
        <span id="events-area">&nbsp;</span>
        <span id="events-arrow-right" class="events-arrow"><i class="icon-chevron-right icon-large"></i></span>
</div>

<div id="control" style="display:none;">
        <div class="span8 control-slider"><span>Max Depth:  <input type="text" class="input-mini" id="maxDepth" onchange="$('#rangeDepth').slider('value',this.value);refreshdata();"/></span><span class="span3 control-slider" id="rangeDepth"></span></div>
        <div>Max Magnitude: <input type="text" class="input-mini" id="maxMag" onchange="$('#rangeMag').slider('value',this.value);refreshdata();"/><span id="rangeMag"></span> </div>
        <div>Deviation from Hour: <input type="text" class="input-mini" id="minDev" value="30" onchange="$('#rangeDev').slider('value',this.value);refreshdata();" /><span id="rangeDev"></span> </div>
        Limit to Source: <select id="sourceSelect" onchange="refreshdata();"></select><br/>
</div>