<%= erb :'partials/map_interface' %>

<header class="shadow">
        <h1><%= link(url('/'), 'Sleuthing from the Internet') %></h1>
        <p>aggregating seismic data so you don't have to</p>
        <div id="release" class="shadow">BETA</div>
</header>

<div id="about" class="panel">
</div>

<div id="events" class="panel">
</div>

<div id="control" class="panel">
</div>

        <a class="abouttrigger" href="#">about</a>
        <a class="eventstrigger" href="#">events</a>
        <a class="controltrigger" href="#">control</a>