<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes" />

    <title>Sleuthing from the Internet</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/site.css" />
    
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="lib/jquery-ui-1.8.22.custom.min.js"></script>
    <script type="text/javascript" src="lib/jquery.tablesorter.js"></script>
    <link type="text/css" href="lib/jquery-ui-1.8.22.custom.css" rel="stylesheet" />
    <link type="text/css" href="lib/style.css" rel="stylesheet" />
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    
  </head>
  <body>
    <div class="container">
      <header>
        <div class="row">
          &nbsp;
        </div>
        <div class="hero-unit">
          <div class="row">
            <div class="span14">
             <h1><%= link(url('/'), 'Sleuthing from the Internet') %></h1>
             <p>aggregating seismic data so you don't have to</p>
            </div>
          </div>
        </div>
      </header>
      <div class="row">
        <%= yield %>
      </div>
      <div class="row">
        &nbsp;
      </div>
      <footer>
        <div class="row">
            <div class="span6 offset7" align="right">
                written by: Jim Kelly and Alex Wellerstein<br>
                inspired by: <a href="http://lewis.armscontrolwonk.com/archive/5534/my-own-sleuthing-from-home">The Arms Control Wonk, Jeffrey Lewis</a><br>
                source: <a href="https://github.com/jimjkelly/SleuthingFromTheInternet">GitHub</a><br>
                powered by: <a href="http://heroku.com">Heroku</a></br>
            </div>
        </div>
        <div class="row">
          &nbsp;
        </div>
      </footer>
    </div>
  </body>
</html>