<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes" />

    <title>Sleuthing from the Internet</title>
    <script src="http://twitter.github.com/bootstrap/1.4.0/bootstrap-dropdown.js"></script>
    <script src="http://twitter.github.com/bootstrap/1.4.0/bootstrap-alerts.js"></script>
    <script type="text/javascript" src="/javascripts/jquery-1.7.2.min.js"></script>
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css" />
    <link rel="stylesheet" href="stylesheets/site.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <div class="row">
          &nbsp;
        </div>
        <div class="hero-unit">
          <div class="row">
            <div class="span13">
             <h1>Sleuthing from the Internet</h1>
             <p>aggregating seismic data so you don't have to</p>
            </div>
          </div>
        </div>
      </header>
      <div class="row">
        <%= yield %>
      </div>
      <div class="row">
        &nbsp;
      </div>
      <footer>
        <div class="row">
            <div class="span6 offset9" align="right">
                written by: Jim Kelly and Alex Wellerstein<br>
                inspired by: <a href="http://lewis.armscontrolwonk.com/archive/5534/my-own-sleuthing-from-home">The Arms Control Wonk, Jeffrey Lewis</a><br>
                source: <a href="https://github.com/jimjkelly/SleuthingFromTheInternet">GitHub</a><br>
                powered by: <a href="http://heroku.com">Heroku</a></br>
            </div>
        </div>
      </footer>
    </div>
  </body>
  <script src="javascripts/site.js"></script>
</html>