body {
    background-color: silver;
}

header a:hover {
    text-decoration: none;
}

header a {
    color:#005580;
}

/* Necessary to ensure images display correctly in the map */
#theMap img {
    max-width:none;
}